---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Hero from '../components/Hero.astro';
import ServiceAuth from '../components/auth/ServiceAuth';
---

<Layout title="Jhon Calsina">
	<main class=" mx-auto lg:mx-64">
		<NavBar/>
		<aside class="flex flex-col items-center mt-14 mx-24">
			<Hero class="lg:mx-64"/>
		</aside>
		<article class="mx-12 flex flex-col gap-[10px]">
			<ServiceAuth
				imageSrc="../../public/images/image.png"
				title="Developer Web"
				subtitle="Max Sound Engineer"
				buttonImageSrc="../../public/svg/programing.svg"
				popupContent="loremdnadla"
			/>
			<ServiceAuth
				imageSrc="../../public/images/image.png"
				title="Developer Web"
				subtitle="Max Sound Engineer"
				buttonImageSrc="../../public/svg/programing.svg"
				popupContent="loremdnadla"
			/>
			<ServiceAuth
				imageSrc="../../public/images/image.png"
				title="Developer Web"
				subtitle="Max Sound Engineer"
				buttonImageSrc="../../public/svg/programing.svg"
				popupContent="loremdnadla"
			/>
		</article>
	</main>
</Layout>