<section class="lg:w-[550px] flex flex-col items-center justify-center text-center lg:space-y-3 space-y-2 text-[#25282A]">
   <picture class="">
      <img src="../../public/images/profile.jpeg" alt="" class="lg:w-14 w-10 rounded-full">
   </picture>
   <h1 class="font-semibold lg:text-3xl text-xl">
      Jhon Calsina
   </h1>
   <p class="font-light lg:text-sm text-xs">
      Junior web developer and systems engineering student, passionate about software development and exploring new technologies.
   </p>
</section>